<form:form method="post" modelAttribute="reservation" class="form-horizontal">
    <div class="form-group">
        <!-- Full Name -->
        <label class="col-sm-3 control-label">Pełne imię i nazwisko&nbsp;*</label>
        <div class="col-sm-9">
            <form:input path="title" placeholder="Tytuł" class="form-control custom-title" />
            <form:input path="fullName" placeholder="Pełne imię i nazwisko" class="form-control custom-name" id="name" />
            <form:errors path="fullName" cssClass="text-danger" />
        </div>
    </div>
    <!-- Full Name end -->

    <div class="form-group">
        <!-- Email Address -->
        <label class="col-sm-3 control-label">Adres Email&nbsp;*</label>
        <div class="col-sm-9">
            <form:input path="email" placeholder="Adres Email" class="form-control" id="email" />
            <form:errors path="email" cssClass="text-danger" />
        </div>
    </div>
    <!-- Email Address end -->

    <div class="form-group">
        <!-- Telephone/Mobile Number -->
        <label class="col-sm-3 control-label">Numer Tel/Kom&nbsp;*</label>
        <div class="col-sm-9">
            <form:input path="phoneNumber" placeholder="Numer Tel/Kom" class="form-control" id="phoneNumber" />
            <form:errors path="phoneNumber" cssClass="text-danger" />
        </div>
    </div>
    <!-- Telephone/Mobile Number end -->

    <div class="form-group">
        <!-- Date and Time -->
        <label class="col-sm-3 control-label">Data & Godzina&nbsp;*</label>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="sr-only" for="date">Data</label>
                        <form:input path="date" type="date" class="form-control" id="date" placeholder="Data" />
                        <form:errors path="date" cssClass="text-danger" />
                        <span class="input-group-addon flat">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <form:select path="time" class="form-control custom-time" id="time">
                        <option value="">Wybierz godzine</option>
                        <option value="13:30:00">1:30 PM</option>
                        <option value="13:45:00">1:45 PM</option>
                        <option value="14:00:00">2:00 PM</option>
                        <!-- Add more options as needed -->
                    </form:select>
                    <form:errors path="time" cssClass="text-danger" />
                </div>
            </div>
        </div>
    </div>
    <!-- Date and Time end -->

    <div class="form-group">
        <!-- No. of Guest -->
        <label class="col-sm-3 control-label">Liczba Gości&nbsp;*</label>
        <div class="col-sm-9">
            <form:input path="guestsCount" type="number" placeholder="Liczba Gości" id="guestsCount" class="form-control" min="0" />
            <form:errors path="guestsCount" cssClass="text-danger" />
        </div>
    </div>
    <!-- No. of Guest end -->

    <div class="form-group">
        <!-- Special Guest -->
        <label class="col-sm-3 control-label">Życzenia specjalne</label>
        <div class="col-sm-9">
            <form:textarea path="specialRequest" placeholder="Życzenia specjalne" rows="3" id="specialRequest" class="form-control" style="resize: none;" />
            <form:errors path="specialRequest" cssClass="text-danger" />
        </div>
    </div>
    <!-- Special Guest end -->

    <div class="form-group">
        <!-- Captcha -->
        <label class="col-sm-3 control-label hidden-xs">CAPTCHA</label>
        <div class="col-sm-9">
            <p><spring:escapeBody>${captcha}</spring:escapeBody></p> <!-- Display the generated CAPTCHA -->
        </div>
    </div>
    <!-- Captcha end -->

    <div class="form-group">
        <!-- Enter captcha info -->
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input type="text" placeholder="Wpisz wartość z rysunku" name="userCaptcha" class="form-control" id="userCaptcha" autocomplete="off" />
        </div>
    </div>
    <!-- Enter captcha info end -->

    <div class="form-group">
        <!-- Book a table -->
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary pull-right">Rezerwuj Stolik</button>
        </div>
    </div>
    <!-- Book a table end -->
</form:form>